@font-face {
  font-family: "Inconsolata";
  src: url("../font/Inconsolata.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "inconsolata", serif;
}

header {
  width: 100%;
  height: 150px;
  padding: 35px;
  display: flex;
  justify-content: flex-end;
  background-color: #EC8E71;
}
header button {
  width: 121px;
  height: 41px;
  padding: 6px;
  background-color: #E8562A;
  font-size: 1.6rem;
  font-weight: 600;
  color: #692713;
  border: none;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
header button:hover {
  background-color: #692713;
  color: #EC8E71;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #E8562A;
}
.main-container .main-note--container {
  width: 340px;
  height: 320px;
  min-width: 320px;
}
.main-container .main-note--container .note-container--tools {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #EC8E71;
}