@font-face {
  font-family: "Inconsolata";
  src: url("../font/Inconsolata.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "inconsolata", serif;
}